    2018 Display Month: <a href={{url_for('displayMonth', month=1, year=2018)}}>January</a>
                   <a href={{url_for('displayMonth', month=2, year=2018)}}>February</a>
                   <a href={{url_for('displayMonth', month=3, year=2018)}}>March</a>
                   <a href={{url_for('displayMonth', month=4, year=2018)}}>April</a>
                   <a href={{url_for('displayMonth', month=5, year=2018)}}>May</a>
                   <a href={{url_for('displayMonth', month=6, year=2018)}}>June</a>
                   <a href={{url_for('displayMonth', month=7, year=2018)}}>July</a>
                   <a href={{url_for('displayMonth', month=8, year=2018)}}>August</a>
                   <a href={{url_for('displayMonth', month=9, year=2018)}}>September</a><br>

    2017 Display Month: <a href={{url_for('displayMonth', month=1, year=2017)}}>January</a>
                   <a href={{url_for('displayMonth', month=2, year=2017)}}>February</a>
                   <a href={{url_for('displayMonth', month=3, year=2017)}}>March</a>
                   <a href={{url_for('displayMonth', month=4, year=2017)}}>April</a>
                   <a href={{url_for('displayMonth', month=5, year=2017)}}>May</a>
                   <a href={{url_for('displayMonth', month=6, year=2017)}}>June</a>
                   <a href={{url_for('displayMonth', month=7, year=2017)}}>July</a>
                   <a href={{url_for('displayMonth', month=8, year=2017)}}>August</a>
                   <a href={{url_for('displayMonth', month=9, year=2017)}}>September</a>
                   <a href={{url_for('displayMonth', month=10, year=2017)}}>October</a>
                   <a href={{url_for('displayMonth', month=11, year=2017)}}>November</a>
                   <a href={{url_for('displayMonth', month=12, year=2017)}}>December</a></p>