{% extends "bootstrap/base.html" %}

{% block content %}

<div class="container">

    {% include '_nav_header.html' %}

    <form class="form-horizontal bg-info" method='POST' action="{{ url_for('addDay') }}">

        <div class="row">

            <label for="inputDate" class="col-sm-2 control-label">New Date:</label>

            <div class="col-sm-4">
                <input type="text" name="work_date" class="form-control" id="inputDate" placeholder="Date">
            </div>

        </div>
        <div class="row">

            <label for="inputHours" class="col-sm-2 control-label">Hours Worked:</label>

            <div class="col-sm-2">
                <input type="text" name="hours_worked" size="35" class="form-control" id="inputHours" placeholder="Hours Worked">
            </div>

        </div>
        <div class="row">

            <label for="inputRemarks" class="col-sm-2 control-label">Remarks:</label>

            <div class="col-sm-9">
                <input type="text" name="remarks" size="75" class="form-control" id="inputRemarks" placeholder="Remarks">
            </div>

        </div>

        <button type ='submit'>Submit</button>

    </form>

</div>

{% endblock %}