{% extends "bootstrap/base.html" %}

{% block content %}

<div class="container">

    <h2><a href={{url_for('indexPage')}}>Deep Work:</a> "The ability to focus without distraction on a cognitively demanding task."</h2>

    <div class="header">
        <h3 class="bg-warning">Are you sure you want to delete "{{ day_to_delete.work_date }}" from the list?</h1>
    </div>

    <div class="content bg-info">
        <form method='POST' action="{{url_for('deleteDay', work_date = day_to_delete.work_date)}}">

            <button type='submit'>HELL YES!</button>

        </form>
    </div>

</div>
{% endblock %}