<html>
<body>
    <h2><a href={{url_for('indexPage')}}>Deep Work:</a> "The ability to focus without distraction on a cognitively demanding task."</h2>

    <h3>This is the index page, it displays the last 15 days in descending order</h3>

    Total days worked this {{ current_month_name }}: {{ days_worked_month[0] }} </br>
        Total hours worked this {{ current_month_name }}: {{ hours_worked_month[0] }} </br>
        Running total hours worked: {{total_hours[0]}} </br>

    <p><a href={{url_for('addDay')}}>Add Day</a>
    Display Month: <a href={{url_for('displayMonth', month=4, year=2017)}}>April</a>
                   <a href={{url_for('displayMonth', month=5, year=2017)}}>May</a>
                   <a href={{url_for('displayMonth', month=6, year=2017)}}>June</a>
                   <a href={{url_for('displayMonth', month=7, year=2017)}}>July</a>
                   <a href={{url_for('displayMonth', month=8, year=2017)}}>August</a>
                   <a href={{url_for('displayMonth', month=9, year=2017)}}>September</a></p>


        <table>

        <tr><th>Date</th><th>Day</th><th>Hours</th><th>Remarks</th></tr>
        <tr></tr>

        {% for item in list %}

            <tr><td>{{ item.work_date }}</td><td> - {{ item.work_date.strftime('%A') }}<td> - {{ item.hours_worked }} hours</td><td> - {{ item.remarks }}</td>
            <td><a href="{{url_for('editDay', work_date = item.work_date)}}"> Edit</a></td>
            <td><a href="{{url_for('deleteDay', work_date = item.work_date)}}"> Delete</a></td></tr>

        {% endfor %}

        </table></br>


    </div>
</body>
</html>