
<nav class="navbar navbar-inverse">
    <h2 class="text-center"><a href={{url_for('indexPage')}}>Deep Work:</a><small> "The ability to focus without distraction on a cognitively demanding task."</small></h2>
</nav>

<h3 class="text-center">{{ h4 }}</h3>

<div class="panel panel-default row">

    <div class="col-sm-7 col-md-8 col-lg-9">
        Total days worked for {{ month_name }} {{ year }}: {{ days_worked_month }} </br>
        Total hours worked for {{ month_name }} {{ year }}: {{ hours_worked_month }} </br>
        Average hours per day worked for {{ month_name }} {{ year }}: {{ avg_hrs_day }} </br>
    </div>

    <div class="col-sm-5 col-md-4 col-lg-3">
        Running total hours of Deep Work: {{total_hours}} </br>
        <a href={{url_for('monthly_totals')}}>Monthly Totals</a> | <a href={{url_for('yearly_totals')}}>Yearly Totals</a></br>
        <a href={{url_for('addDay')}} type="button" class="btn btn-primary btn-xs">Add A Day</a>
    </div>

</div>

{% for year in year_list %}
    {{ year }} by Month:
        {% for month in month_list %}
            <a href={{url_for('displayMonth', month=month[0], year=year)}}>{{ month[1] }}</a>
        {% endfor %}</br>
{% endfor %}
