{% extends "bootstrap/base.html" %}

{% block content %}

<div class="container">

     {% include '_nav_header.html' %}

    <div class="header">
        <h3 class="bg-warning">Are you sure you want to delete "{{ day_to_delete.work_date }}" from the list?</h1>
    </div>

    <div class="content bg-info">
        <form method='POST' action="{{url_for('deleteDay', work_date = day_to_delete.work_date)}}">

            <button type='submit'>{{ form.submit() }}</button>

        </form>
    </div>

</div>
{% endblock %}