{% extends "bootstrap/base.html" %}

{% block content %}

<div class="container">

    {% include '_nav_header.html' %}

    <h3>Edit the Entry for "{{ day_to_edit.work_date }}"</h2>

    <form class="form-horizontal bg-info" method='POST' novalidate action="{{ url_for('editDay', work_date = day_to_edit.work_date) }}">
        {{ form.hidden_tag() }}
        <div class="row">

            {{ form.hours_worked.label(class="col-sm-2 control-label") }}

            <div class="col-sm-2">
                {{ form.hours_worked(class="form-control", size=35, id="inputHours", value=day_to_edit.hours_worked) }}
            </div>

        </div>
        <div class="row">

            {{ form.remarks.label(class="col-sm-2 control-label") }}
            <div class="col-sm-9">
                {{ form.remarks(class="form control", size=75, value=day_to_edit.remarks) }}
            </div>
        </div>

        <button type ='submit'>Submit</button>

    </form>

</div>

{% endblock %}